.container {
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  background-size: cover;
  padding: 50px;
  height: 150vh;
  font-family: 'roboto';
}
.inner-container {
  background-color: #ffffff;
  background-size: cover;
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.line {
  width: 100%;
}
.Add {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.appointment {
  display: flex;
  flex-direction: column;
}
.form-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.heading {
  font-size: 35px;
  color: #171f46;
  font-weight: bold;
}
.input1 {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 10px;
}
.inputItem {
  color: #b5b7c4;
  font-size: 14px;
}
.btn-item {
  height: 50px;
  width: 80px;
  border: solid 0px;
  background-color: #8b5cf6;
  color: #ffffff;
  border-radius: 10px;
}
.comments-container {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}
.appointment-image {
  height: 350px;
  width: 500px;
  margin-left: 50px;
}
.Appointment-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  text-align: center;
}
.appointments {
  display: flex;
  flex-direction: column;
}
.starred {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading1 {
  font-size: 30px;
  font-weight: bold;
  color: #171f46;
  margin-left: 10px;
}
.starred-button {
  height: 40px;
  width: 100px;
  border: solid 1px #9897f0;
  color: #9897f0;
  background-color: transparent;
  border-radius: 20px;
}
.list-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #b5b7c4;
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  margin-left: 0px;
}
.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.star-button {
  border: solid 0px;
  background-color: transparent;
}
.para {
  font-size: 18px;
  font-weight: 500;
  color: #171f46;
}
.date {
  font-size: 15px;
  color: #b5b7c4;
}
